.VSCodeCounter
Multiple Responsive Websites, Portfolios and Homepages.code-workspace
/Online+Responsive+E-Commerce+Website/E-Commerce_Info.txt
/Mordern Homepage/IMAGES/girl.png
/Mordern Homepage/IMAGES/man.png
/Mordern Homepage/IMAGES/man.png.sr3nknl.partial